* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  color: #fff;
}

body {
  background-color: #191d28;
}
select,
button {
  font-size: 16px;
}

.brand img {
  width: 319px;
}

.dropdown {
  background-color: #2e3241;
  text-transform: uppercase;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.dropdown-option {
  background-color: #2e3241;
  text-transform: uppercase;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 0 2rem;
  padding: 2rem;
}

.controls {
  display: flex;
  align-items: baseline;
  gap: 1rem;
}

.count {
  font-size: 1rem;
  border-radius: 100%;
  border: 3.5px solid #3dc6c1;
  color: #3dc6c1;
  width: 2.75rem;
  height: 2.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.btn-telegram {
  background-color: #3dc6c1;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.btn-telegram img {
  width: 24px;
  margin-right: 10px;
  background-color: transparent;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 1em;
  text-align: center;
  color: #212529;
  font-size: 24px;
}

th {
  color: #818389;
  padding: 10px;
}

tbody tr {
  background-color: #2e3241;
  margin-top: 4rem;
}
/* 
tbody tr:hover {
  background-color: #525974;
  color: #fff;
} */

td {
  padding: 0.5em 0;
  color: #fff;
  text-align: center;
}

.hidden {
  display: none;
}

#buyBtn {
  width: 100px;
  cursor: pointer;
  background-color: #2e3241;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: uppercase;
}
/* Toggle Button  */
.toggle {
  display: inline-block;
  position: relative;
  height: 24px;
  width: 40px;
}

.toggle input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2e3241;
  transition: 0.4s;
  width: 60px;
  padding: 1rem;
}

.slider:before {
  position: absolute;
  content: '';
  height: 30px;
  width: 30px;
  left: 2px;
  bottom: 2px;
  background-color: #3dc6c1;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2e3241;
}

input:checked + .slider:before {
  transform: translateX(28px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
